#set( $groupId = $instance.properties["groupId"] )
#set( $artifactId = $instance.properties["artifactId"] )
#set( $author =  $instance.properties["author"])
package ${groupId}.${artifactId}.dao;

import cn.beanbang.generator.model.po.${entity.entityName};
import org.springframework.data.jpa.repository.JpaRepository;

public interface ${entity.entityName}DAO extends JpaRepository<${entity.entityName}, Integer> {
}