#set( $groupId = $instance.properties["groupId"] )
#set( $artifactId = $instance.properties["artifactId"] )
#set( $author =  $instance.properties["author"])
package ${groupId}.${artifactId}.model.po;

import lombok.Data;

import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.ManyToOne;
import javax.persistence.Entity;

@Entity
@Data
public class $entity.entityName {
    #foreach($f in $entity.fields)
    #if($f.primaryKey)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    #end
    private $f.fieldType $f.fieldName;

    #end
}