#set( $entityLower = ${entity.entityName.substring(0,1).toLowerCase()}+${entity.entityName.substring(1)} )
#set( $entityLowerDAO = $entityLower+"DAO" )
#set( $entityDAO = $entity.entityName+"DAO" )
package cn.beanbang.generator.service;

import cn.beanbang.generator.dao.${entityDAO};
import cn.beanbang.generator.model.po.${entity.entityName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;


@Service
public class ${entity.entityName}Service {
    @Autowired
    ${entityDAO} ${entityLowerDAO};

    public List<${entity.entityName}> findAll(){
        return ${entityLowerDAO}.findAll();
    }

    public ${entity.entityName} add(${entity.entityName} ${entityLower}){
        return ${entityLowerDAO}.save(${entityLower});
    }

    public ${entity.entityName} update(${entity.entityName} ${entityLower}){
        return ${entityLowerDAO}.save(${entityLower});
    }

    public void delete(int id){
        ${entityLowerDAO}.deleteById(id);
    }
}
